/*Styling*/

/*TO DO: btns, font, section colors*/

#map {
  width: 50%;
  height: 45em;
  background-color: #CCC;
}

.jumbotron {
  position: relative;
  height: 100%;
  width:100%;
  background: url("../img/jumbotron.jpg") no-repeat center center;
  background-size: 100% 100%;
}

h3 {
  margin: 20px;
}

html, body {
  height: 100%;
  width: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -1px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 142px;
}
.footer {
  padding: 50px;
  background: #DDDDDD;
  width: 100%;
}

.next {
  display: none;
}

.logos {
  width: 50px;
  height: 50px;
}

.question-style {
  font-size: 22px;
  margin-top: 100px;
  margin-bottom: 10px;
}

